@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/*
/////////////////////////////
Display
/////////////////////////////
*/

body {
  display: flex;
}

/*
/////////////////////////////
Sidebar
/////////////////////////////
*/

/* sidebar */
#sidebar {
  position: fixed;
  width: 20rem;
  height: 100vh;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

#sidebar h1 {
  font-size: var(--fontsize-xxl);
  color: var(--main-color);
  letter-spacing: -0.1rem;
  line-height: 3.7rem;
}

.sidebar__menu {
  text-align: right;
}

.sidebar__links {
  color: var(--main-color);
  font-size: var(--fontsize-xl);
  font-weight: 700;
}

.sidebar__links li {
  margin-top: var(--spacing-s);
}

.sidebar__links li:nth-child(2) {
  margin-bottom: var(--spacing-l);
}

.sidebar__copyright {
  color: var(--main-color);
  font-size: var(--fontsize-s);
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
}

/*
/////////////////////////////
main
/////////////////////////////
*/
section {
  margin-bottom: var(--spacing-xxl);
}

#container {
  position: relative;
  height: 100vh;
  padding: var(--spacing-l);
  margin-left: 20rem;
}

/* global stat */
.title {
  color: var(--black-color);
  font-weight: 600;
  font-size: var(--fontsize-xl);
  margin-bottom: var(--spacing-s);
}

.line {
  min-height: 50px;
  min-width: 4px;
  background-color: var(--second-color);
  margin-right: var(--spacing-s);
}
.item li:first-child {
  text-transform: uppercase;
  color: var(--gray-color);
  font-size: var(--fontsize-xs);
}

.item li:nth-child(2) {
  color: var(--main-color);
  font-weight: 600;
  font-size: var(--fontsize-xl);
}

.global__items--item {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
}

.items {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-auto-rows: minmax(3.4rem, auto); */
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 5rem auto; */
  display: flex;
  justify-content: left;
  margin-top: var(--spacing-s);
  flex-wrap: wrap;
  /* background-color: thistle; */
}

.item {
  margin-right: var(--spacing-l);
}

.updated {
  font-weight: 300;
  font-size: var(--fontsize-xs);
  color: var(--gray-color);
  margin-top: var(--spacing-s);
}

.canada__items--item {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
}

/* province stat */
select {
  /* removing dropdown button */
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}

select:focus {
  outline: none;
}

.province__dropdownContainer {
  /* dropdown styling */
  overflow: hidden;
  overflow: -moz - hidden - unscrollable;
  width: 18rem;
  height: 2.8rem;
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  border-color: var(--main-color);
  font-size: var(--fontsize-xs);
  font-weight: 500;
  color: var(--main-color);
  margin: 0 0 var(--spacing-m) 0;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  padding: 0.25rem 0.5rem;
}

select,
.province__dropdownContainer:after {
  grid-area: select;
}

.province__dropdownContainer::after {
  content: '';
  width: 0.8rem;
  height: 0.5rem;
  background-color: var(--main-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

.province__items--item {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
}

.appendix {
  font-weight: 300;
  font-size: var(--fontsize-xs);
  color: var(--gray-color);
}

.province__name {
  margin-top: var(--spacing-s);
  font-weight: 600;
  color: var(--darkgray-color);
  font-size: var(--fontsize-m);
}

.vaccinated:nth-child(2) span {
  color: var(--darkgray-color);
}

.province__appendix {
  padding-bottom: var(--spacing-xxl);
}

/*
/////////////////////////////
Media Queries
/////////////////////////////
*/

@media only screen and (max-width: 729px) {
  body {
    flex-direction: column;
  }

  #sidebar {
    position: sticky;
    width: 100%;
    height: 30vh;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* padding: 2rem; */
  }

  #container {
    position: relative;
    height: 100vh;
    padding: var(--spacing-m);
    margin-left: 0;
  }
}
